@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

#navbar{
  background-color: aquamarine;
  flex: 1
}

#main-outlet{
  background-color: aqua;
  flex: 5
}

#page-container{
  display: flex
}